[Desktop Entry]
Type=Application
Name=NDManager
GenericName=Recording Parameter Manager
Comment=Manage recording parameters and run processing pipelines for electrophysiology data
Icon=ndmanager
Exec=ndmanager %f
TryExec=ndmanager
MimeType=application/nphys-xml;
Categories=Qt;Science;Biology;
Keywords=electrophysiology;neuroscience;spike sorting;parameters;
